body{
    background-color: #68cdd5;

}
.header{
    margin:5%;
}
.main{
    margin-bottom: 20%;
    margin-left:5%;
    text-align: center;
}
.logo_l {
    float: left; 
    margin-left:10%;
    text-align: center;       
  }
.logo_r{
    float: right;
    margin-right: 10%;
  text-align: center;
  }
  .icon-l {
    border-radius: 50%;
    background-color: rgb(0, 158, 150);
  }
  .icon-r {
    border-radius: 50%;
    background-color: rgb(0, 158, 150);
  }
p{
    font-size: 30px;
    font-family: "HiraginoSansGB";
    color: rgb(255, 255, 255);
    line-height: 1.807;
    text-align: left ;

  }